{% extends 'admin/employee/index.html.twig' %}

{% block body %}
    <div class="content">
        {{ form_start(form) }}
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    {% include '@common_admin_tpl/flashes.html.twig' %}
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">{{ 'podstawowe dane'|trans|capitalize }}</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-6 col-md-12">
                                    <div class="form-group">
                                        <label for="candidate_firstname">{{ 'imię'|trans }}</label>
                                        {{ form_widget(form.firstname) }}
                                        <div class="errors">
                                            {{ form_errors(form.firstname) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    <div class="form-group">
                                        <label for="candidate_lastname">{{ 'nazwisko'|trans }}</label>
                                        {{ form_widget(form.lastname) }}
                                        <div class="errors">
                                            {{ form_errors(form.lastname) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-12">
                                    <div class="form-group">
                                        <label for="candidate_gender">{{ 'płeć'|trans }}</label>
                                        {{ form_widget(form.gender) }}
                                        <div class="errors">
                                            {{ form_errors(form.gender) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    <div class="form-group">
                                        <label for="candidate_nationality">{{ 'data urodzenia'|trans }}</label>
                                        {{ form_widget(form.dateOfBirth) }}
                                        <div class="errors">
                                            {{ form_errors(form.dateOfBirth) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-12">
                                    <div class="form-group">
                                        <label for="candidate_gender">{{ 'data przyjazdu'|trans|capitalize }}</label>
                                        {{ form_widget(form.dateOfArrival) }}
                                        <div class="errors">
                                            {{ form_errors(form.dateOfArrival) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    <div class="form-group">
                                        <label>{{ 'data wyjazdu'|trans|capitalize }}</label>
                                        {{ form_widget(form.dateOfDeparture) }}
                                        <div class="errors">
                                            {{ form_errors(form.dateOfDeparture) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">{{ 'dane kontaktowe'|trans|capitalize }}</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-6 col-md-12">
                                    <div class="form-group">
                                        <label for="candidate_firstname">{{ 'email'|trans }}</label>
                                        {{ form_widget(form.contact.email) }}
                                        <div class="errors">
                                            {{ form_errors(form.contact.email) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    <div class="form-group">
                                        <label for="candidate_lastname">{{ 'viber'|trans }}</label>
                                        {{ form_widget(form.contact.viber) }}
                                        <div class="errors">
                                            {{ form_errors(form.contact.viber) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    {% macro tagCollectionItem(formData) %}
                                        <div class="col-lg-3 col-md-3 col-sm-3">
                                            <div class="form-group">
                                                <label for="candidate_firstname">{{ 'kod'|trans }}</label>
                                                {{ form_widget(formData.countryCode) }}
                                                <div class="errors">
                                                    {{ form_errors(formData.countryCode) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-9 col-md-9 col-sm-9">
                                            <div class="form-group">
                                                <label for="candidate_lastname">{{ 'numer'|trans }}</label>
                                                {{ form_widget(formData.number) }}
                                                <div class="errors">
                                                    {{ form_errors(formData.number) }}
                                                </div>
                                            </div>
                                        </div>
                                    {% endmacro %}

                                    <div id="phone-number-fields-list" class="list-group"
                                        data-prototype="{{ _self.tagCollectionItem(form.contact.phoneNumber.vars.prototype)|e }}"
                                        data-widget-tags="{{ '<div class="row"></div>'|e }}"
                                        data-widget-counter="{{ form.contact.phoneNumber|length }}">
                                        <div class="row">
                                            {% if form.contact.phoneNumber|length > 0 %}
                                                {% for phoneNumberField in form.contact.phoneNumber %}
                                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                                        <div class="form-group">
                                                            <label for="candidate_firstname">{{ 'kod'|trans }}</label>
                                                            {{ form_widget(phoneNumberField.countryCode) }}
                                                            <div class="errors">
                                                                {{ form_errors(phoneNumberField.countryCode) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-9 col-md-9 col-sm-9">
                                                        <label for="candidate_lastname">{{ 'numer'|trans }}</label>
                                                        {{ form_widget(phoneNumberField.number) }}
                                                        <div class="errors">
                                                            {{ form_errors(phoneNumberField.number) }}
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            {% else %}
                                                {{ form_widget(form.contact.phoneNumber) }}
                                            {% endif %}
                                        </div>
                                    </div>

                                    <a type="button"
                                            class="add-another-collection-widget"
                                            data-list-selector="#phone-number-fields-list">{{ 'dodaj numer telefonu'|trans|capitalize }}</a>

                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-right">
                                {{ form_widget(form.update_profile,  { 'label': "Zapisz"|trans }) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock  %}