{% extends 'admin/base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('admin-employee') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('admin-employee') }}
{% endblock %}

{% block body %}
    <div class="content employee-list">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    {% include '@common_admin_tpl/flashes.html.twig' %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card strpied-tabled-with-hover">
                        <div class="card-header ">
                            <h4 class="card-title"><i class="fas fa-list"></i> {{ 'lista pracowników'|trans|capitalize }}</h4>
                            <button type="button" class="btn-primary add-btn" data-toggle="modal" data-target="#add-employee">{{ 'dodaj pracownika'|trans|capitalize }}</button>
                            <!-- Actual search box -->
                            <form method="get">
                                <div class="form-group has-search">
                                    <span class="fa fa-search form-control-feedback"></span>
                                    <input type="search" class="form-control" name="q" placeholder="{{ 'search'|trans|capitalize }}">
                                </div>
                            </form>
                        </div>
                        <div class="card-body table-full-width table-responsive">
                            <table class="table table-hover table-striped">
                                <thead>
                                    <th>ID</th>
                                    <th>{{ 'imię'|trans|capitalize }}</th>
                                    <th>{{ 'data przyjazdu'|trans|capitalize }}</th>
                                    <th>{{ 'data wyjazdu'|trans|capitalize }}</th>
                                    <th>{{ 'baxUA'|trans|capitalize }}</th>
                                    <th>{{ 'akcje'|trans|capitalize }}</th>
                                </thead>
                                <tbody>
                                {% for employee in pagination %}
                                    <tr>
                                        <td>{{ employee.id }}</td>
                                        <td>{{ employee.firstname }} {{ employee.lastname }}</td>
                                        <td>{{ employee.dateOfArrival is empty ? "-" : employee.dateOfArrival|date("m-d-Y") }}</td>
                                        <td>{{ employee.dateOfDeparture is empty ? "-" : employee.dateOfDeparture|date("m-d-Y") }}</td>
                                        <td>{{ employee.baxtUA is empty ? "-" : employee.baxtUA}}</td>
                                        <td class="list-controls">
                                            <a href="{{ path('app_admin_employee_show', {id: employee.id}) }}" title="{{ 'show candidate'|trans|capitalize }}" class="icon-link">
                                                <i class="fas fa-eye fa-lg"></i>
                                            </a>
                                            <a href="{{ path('app_admin_employee_edit', {id: employee.id}) }}" title="{{ 'edit candidate'|trans|capitalize }}" class="icon-link">
                                                <i class="fas fa-edit fa-lg"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="table-pagination">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}